body {
    background-color: #FFF2D8;
    color: #113946;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
    }

h1 {
    color: #113946;
    font-size: 2em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #EAD7BB;
    }

    
    /* CSS */
    .button-30 {
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 15px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "Times New Roman",monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 20px;
    }
    
    .button-30:focus {
      box-shadow: #BCA37F 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-30:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-30:active {
      box-shadow: #BCA37F 0 3px 7px inset;
      transform: translateY(2px);
    }

h2 {
    font-size: 1.5em;
}

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}

table {
  border: #BCA37F;
}

.plus {
  padding-top: 15px ;
  display: flex;
  justify-content: left;
}

.plus img {
  padding-right: 100px;
  padding-left: 20px;
}

.plus a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.text {
  text-align: justify;
  padding-right: 50px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
}

